<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.customeremulation/menu.application.title" opened="true">
        <item view="cst_ControlPanelView" title="msg://com.company.customeremulation.view.controlpanel/controlPanelView.title" icon="vaadin:asterisk"/>
        <separator/>
        <item view="cst_OrderDto.list" title="msg://com.company.customeremulation.view.orderdto/orderDtoListView.title"/>
        <item view="cst_Item.list" title="msg://com.company.customeremulation.view.item/itemListView.title"/>
        <!--        <item view="cst_User.list" title="msg://com.company.customeremulation.view.user/UserListView.title"/>-->
    </menu>

</menu-config>